* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
    margin: auto;
}

body {
    background-color: #FFFAF3;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./img/Image\ 1.png);
    background-repeat: no-repeat;
    background-position: top right;
}

header {
    border-bottom: solid 1px #C08D5D;
    max-width: 470px;
    padding-top: 43px;
    padding-bottom: 43px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: black;
    padding-left: 82.36px;
}

.home {
    color: #C08D5D;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

main {
    padding-top: 123px;
    padding-bottom: 67px;
    max-width: 535px;
}

main p {
    color: #3F4042;
    font-size: 18px;
    font-family: 'Open Sans';
}

p {
    color: #3F4042;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 72px;
    letter-spacing: 0.06em;
}

span::after {
    content: url(./img/Logo.svg);
    display: inline-block;
    width: 45.21px;
    height: 69.04px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: none;
}

span {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-transform: none;
}

h1 {
    display: block;
    font-family: 'Yeseva One';
    font-size: 70px;
    font-weight: 400;
    line-height: 81px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

h1::after {
    content: url(./img/Vector\ 1.svg);
    display: block;
}

.read-more {
    display: inline-block;
    background-color: #FFFAF3;
    color: #3F4042;
    text-decoration: none;
    padding-left: 15px;
    line-height: 66px;
    border: solid 2px #C08D5D;
    font-size: 20px;
}

.read-more::after {
    content: url(./img/Vector\ 2.svg);
    display: inline-block;
    width: 61px;
    height: 66px;
    background-color: #C08D5D;
    font-family: 'Open Sans';
    text-align: center;
    margin-left: 11px;
    border: solid 2px #C08D5D;
}

.mouse img {
    display: block;
    padding-top: 63px;
    padding-left: 523px;
}